/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Timer */

.datetime-picker {
  margin-top: 10px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: rgb(46, 47, 66);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.pick-start {
  margin: 0 auto;
}

.datetime-picker:hover {
  outline: none;
  border: 1px solid rgb(0, 0, 0);
}

.datetime-picker:disabled {
  outline: none;
  color: rgb(128, 128, 128);
  background: rgb(250, 250, 250);
  cursor: not-allowed;
}

.datetime-picker.active {
  outline: none;
  border: 1px solid rgb(78, 117, 255);
}

.start-timer {
  width: 75px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background: rgb(78, 117, 255);
  border: 1px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.start-timer:hover {
  background: rgb(108, 140, 255);
}

.start-timer:disabled {
  background: rgb(207, 207, 207);
  color: rgb(152, 152, 152);
}

.timer {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  margin-top: 32px;
}

.value {
  display: flex;
  margin: 0 auto;
  color: rgb(46, 47, 66);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  display: flex;
  margin: 0 auto;
  color: rgb(46, 47, 66);
  font-style: uppercase;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}

.field {
  display: flex;
  flex-direction: column;
}

/* Snackbar */
.form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.fieldset {
  color: rgb(46, 47, 66);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  position: relative;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  height: 78px;
  margin-bottom: 24px;
  margin-top: 16px;
}

.radio {
  color: rgb(46, 47, 66);
  font-size: 16px;
  line-height: 1.5;
}

.create-button {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-color: transparent;
  border-radius: 8px;
  background: rgb(78, 117, 255);
  width: 100%;
  min-height: 40px;
}

.create-button:hover {
  background: rgb(108, 140, 255);
}
